::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #F9BF02;
  border-radius: 100px;
}




.image-container {
  display: inline-block;
  overflow: hidden;
  display: flex;

}

.rotating-image {

  animation: rotateAnimation 25s linear infinite;
  /* Smooth, continuous rotation */
  transform-origin: center;
  /* Ensure rotation is around the center */
}


/* Keyframe to rotate the image */
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* CardSlider.css */
.card {
  transition: transform 0.3s ease-in-out;
}

.card img {
  transition: opacity 0.3s ease;
}


/* react-masonry-css required styles */
.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  /* gutter size */
  background-clip: padding-box;
}

.masonry-grid_column>div,
.masonry-grid_column>img {
  margin-bottom: 16px;
  /* Proper alignment */
  width: 100%;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}


.my-masonry-grid img {
  width: 100%;
  /* Ensuring images don't overflow */
  height: auto;
}

.marquee-content {
  display: flex;
  flex-wrap: nowrap;
  /* Ensures items are in a single line for Marquee */
}

@media (max-width: 768px) {
  .my-masonry-grid {
    display: block;
    /* Force block layout for mobile */
  }
}


.masonry-container {
  column-count: 3;
  column-gap: 15px;
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.masonry-item img {
  display: block;
  width: 100%;
}




.marquee-no-scale * {
  transform: none !important;
}

.rfm-marquee {
  display: block !important;
  flex: auto !important;
}




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  .swiper-slide.swiper-slide-active {
    width: 56% !important;
    /* Slightly smaller scale for medium screens */
    margin-right: 123px;
  }


}
@media screen and (max-width: 430px) {
  .swiper-slide.swiper-slide-active {
    width: 100% !important;
    /* Slightly smaller scale for medium screens */
    margin-right: 123px;
  }


}

@media screen and (min-width: 768px) {
  .hotelCardsHome .swiper .swiper-wrapper {
    display: flex;
    justify-content: flex-start !important;
    gap: 1.5rem;
  }

  .hotelCardsHome .swiper .swiper-wrapper[data-cards="3"] {
    justify-content: space-between !important;
  }
}




.swiper-wrapper {
  justify-content: space-between !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .swiper-wrapper {
    gap: 30px;
  }

}

.swiper-pagination {
  position: relative;
}





@media screen and (min-width: 768px) {
  .testiM .swiper-slide {
    width: 397px !important;
  }

}



/* Loader.css */
@keyframes pulse {

  0%,
  80%,
  100% {
    transform: scaleY(0.75);
    opacity: 0;
  }

  20% {
    transform: scaleY(1);
    opacity: 1;
  }
}



[id] {
  scroll-margin-top: 100px; /* apne header ki height ke hisab se adjust karo */
}

/* calender */
/* .calendar-container {
  margin: auto;
  background-image: url('/images/HotelsSectionImg/hote1.png'); 
  background-size: cover;
  background-position: center; 
  padding-top: 47px;
  width: 100%;
  height: 100vh;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.calendar-content {
  display: flex;
  justify-content: space-between;
}

.calendar-month {
  border-radius: 10px;
  padding: 1rem;
}

.calendar-header,
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 0;
}

.day-name {
  font-weight: bold;
  color: #888;
}

.day-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.current-month {
  color: #333;
}

.other-month {
  background-color: transparent;
  pointer-events: none;
}

.range-start {

  position: relative;
  z-index: 2;
  color: #5BBEBC;
}

.range-end {
  position: relative;
  z-index: 2;
  color: #5BBEBC;
}

.in-range {
  border-radius: 0;
}

.range-start p,
.range-end p {
  background-color: white;
padding-top: 5px;
  border-radius: 50%; 
  height: 40px;
  width: 62%;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
  z-index: 3;
  color: #5BBEBC !important;
}

.in-range p {
  color: white;
} 

.calendar-days {
  gap: 20px 0;
  margin: 0;
}

.day-cell.in-range {
  margin: 0;
  border-radius: 0;
}

  

@media (max-width: 768px) {
  .range-start p,
  .range-end p {
    height: 87%;
    width: 74%;
    padding-top: 0px;
    color: #5BBEBC;
  }
} */



/* Add these CSS styles to your stylesheet */
.calendar-container {
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('/images/HotelsSectionImg/hote1.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-cell.in-range {
  position: relative;
}

.day-cell.in-range:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(91, 190, 188, 0.2);
  z-index: 1;
}

.day-cell.range-start:before {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.day-cell.range-end:before {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

@media (max-width: 768px) {
  .calendar-container {
    /* padding: 1rem; */
    align-items: flex-start;
    padding-top: 1rem;
  }
}



.iconb .css-1umw9bq-MuiSvgIcon-root .icon {
  height: 50px !important;
  width: 50px !important;
}

/* Hide scrollbar  */
.hotelSelection::-webkit-scrollbar {
  display: none;
}

.hotelSelection {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  padding-top: 20px;
}

.sec2Swiper .swiper-wrapper {
  height: 435px !important;
}


@keyframes wipe {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 120px;
  }
}

.animate-wipe {
  display: inline-block;
  width: 0;
  animation: wipe 0.5s ease-out forwards;
}



.circle-container {
  position: absolute;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-circle {
  transform: rotate(-90deg);
}

@media (max-width: 500px) {
  .circle-container {
    width: 28px;
    height: 28px;
    margin-left: -14px !important;

  }
}

.HoverCard .Feedback .SocialProof .Footer {
  display: none !important;
}




@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 25s linear infinite;
}



.testimonial .swiper-slide {
  width: 550px !important;
}



.testiM .swiper-slide {
  padding: 32px 8px;
}


/* Add this to your CSS file */
@keyframes wipeUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wipeDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.wipe-up {
  animation: wipeUp 0.5s ease-out forwards;
}

.wipe-down {
  animation: wipeDown 0.5s ease-out forwards;
}





/* Masonry Grid Styles */




.marquee-content {
  display: flex;
  flex-wrap: nowrap;
  /* Ensures items are in a single line for Marquee */
}

.my-masonry-grid {
  display: flex;
  margin-left: 9px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1rem;
  /* gutter size */
  background-clip: padding-box;
}

/* Add bottom margin to each item */
.my-masonry-grid_column>div {
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}